.AddWrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.95);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: "blur(13.5914px)";
 padding-bottom: 30px;
 padding-top: 15px;
  gap: 10px;
  z-index: 10;
}

.ButtonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}

.LongButton{
width: 65%;
padding: 0.8rem 0rem 0.8rem 0rem;

border-radius: 4px;

}

.SmallButton{
   
    padding: 4px;
    font-size: 12px;
border-radius: 18px;
 
}

.Primary{
  background-color: rgb(2, 133, 50);
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.Secondary{
 
  background-color: rgb(245, 242, 175);
  border: 1px solid rgb(243, 236, 55);

}


.Checkout{
 
    background-color: rgb(91, 39, 224);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  
  }

.outline-secondary{
    border: 1px solid rgb(237, 209, 0);
    color: rgb(237, 209, 0);
}

.outline-prymary{
    border: 2px solid black;
    color: black;
    
}

.RadioButton{
  width: 80vw;
  padding: 18px;
  border-radius: 15px;
  border: 1px solid rgba(168, 165, 165, 0.819);
  margin-top: 20px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.RadioButtonActive{
  background-color: rgb(209 250 229);
  font-weight: 700;
  border: 1px solid rgba(96, 225, 16, 0.819);
}


.StripeButton{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0rem 0.8rem 0rem;
  font-weight: 700;
  border-radius: 8px;
  gap: 20px;

  background-color: rgb(91, 39, 224);
  color: white;
  border: 1px solid rgb(255, 255, 255);
}




@media (min-width: 768px)  {
  .AddWrapper{
    bottom: 0;
  }

}