.ContentWrapper{

    margin: 0 auto;
    padding: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Content-Container {
    width: 100%;
 overflow: hidden;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 490px) {
    .Content-Container {
        padding: 0;
    }
}