.Wrapper {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
 
  
  
  .Content{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      border: 1px solid gray;
     
     
      gap: 20px;
  }